/.vs/ConsoleApplication1/v17
Part2-Exercise4/.vs/Part2-Exersize4/
/Part2-Exercise4/Part2-Exersize4/x64/Debug
/Part2-Exercise4/Part2-Exersize4/x64/Debug
/Part2-Exercise4/x64/Debug
/Part2-Exercise4/Part2-Exersize4/*.cpp
